networks:
  services-network:
    external: true

services:
  guacd:
    container_name: guacd
    image: guacamole/guacd:1.6.0
    restart: always
    networks:
      - services-network
    volumes:
      - /home/guacamole_stack/guacd/drive:/drive:rw
      - /home/guacamole_stack/guacd/record:/record:rw

  guacamole_db:
    container_name: guacamole_db
    image: mariadb:12.1.2-noble
    restart: always
    networks:
      - services-network
    environment:
      MYSQL_DATABASE: guacamole_db
      MYSQL_ROOT_PASSWORD: "ChooseYourOwnPasswordHere1234"
      MYSQL_PASSWORD: "ChooseYourOwnPasswordHere1234"
      MYSQL_USER: guacamole_user
    volumes:
      - /home/docker/guacamole_stack/db/init:/docker-entrypoint-initdb.d:z
      - /home/docker/guacamole_stack/db/data:/var/lib/mysql

  guacamole:
    container_name: guacamole
    image: guacamole/guacamole:1.6.0
    restart: always
    networks:
      - services-network
    ports:
      - 8080:8080/tcp # Guacamole is on :8080/guacamole, not /
    group_add:
      - "1000"
    depends_on:
      - guacd
      - guacamole_db
    environment:
      GUACD_HOSTNAME: guacd
      MYSQL_DATABASE: guacamole_db
      MYSQL_HOSTNAME: guacamole_db
      MYSQL_PASSWORD: "ChooseYourOwnPasswordHere1234"
      MYSQL_USER: guacamole_user
      RECORDING_SEARCH_PATH: /record
    volumes:
      - /home/docker/guacamole_stack/guacamole/record:/record:rw

  npmplus:
    container_name: npmplus
    image: docker.io/zoeyvid/npmplus:latest # or ghcr.io/zoeyvid/npmplus:latest
    restart: always
    networks:
      - services-network
    ports:
      - "80:80" # Public HTTP port
      - "443:443" # Public HTTPS port
      - "81:81" # Admin web port
    depends_on:
      - guacd
      - guacamole_db
      - guacamole
    environment:
      - "TZ=America/Sao_Paulo" # Set timezone (required). Use a valid TZ identifier.
      - "ACME_EMAIL=${EMAIL}" # Email address used for ACME registration
      - "ACME_KEY_TYPE=ecdsa" # Key type to use: ecdsa or rsa (default and recommended: ecdsa)
    volumes:
      - "/home/docker/npmplus/data:/data"
